.app-layer {
  position: relative;
  z-index: 1;
}

.menu-section {
  width: 100%;
  height: calc(100vh - 200px);
  min-height: 500px;
}

@media (max-width: 860px) {
  .menu-section {
    height: auto;
    min-height: 0;
  }
}
